@use "sass:color";
@use './variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
    line-height: 1.2;
    background-color: v.$primario;
}

[class*="__titulo"] {
    margin: 2rem 0;
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
    font-weight: 900;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

[class*="__contenedor"] {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}