//fuentes
$fuentePrincipal: "Raleway", sans-serif;

 //media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores
$primario: #f5f3f3;
$degradadoOscuro: #7b2051;
$degradadoClaro: #e44e52;
$negro: #000;
$blanco: #FFF;
$azul: #33C3F0;

//unidades
$separacion: 5rem;