@use '../base/variables' as v;
@use '../components/mixins' as m;

.header {
    background-color: v.$blanco;
    padding: 2rem 0 0;
    &__titulo {
        @include m.hide;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 11rem 0 6rem;
        align-items: flex-start;
    }

    &__img {
        margin: 0 auto 0.5rem;
        @include m.tablet {
        margin-bottom: 0;
    }
    }
}

.cart__cont:focus-within {
    .cart {
        display: block;
    }
}

.cart {
    display: none;
    background-color: v.$blanco;
    padding: 1rem;
    position: absolute;
    bottom: -28rem;
    height: 25rem;
    left: 0;
    right: 0;

    @include m.tablet {
        width: 60%;
        right: 0;
        bottom: -43rem;
        left: auto;
        height: 40rem;
    }

    a {
        @include m.boton(v.$primario, v.$negro, uppercase);
        border: 1px solid #aaa;
        border-radius: 0.5rem;
    }

    table,
    thead,
    tbody {
        display: block;
        tr {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            
        }
    }
    table {
        margin-bottom: 3rem;
        border-bottom: 1px solid #aaa;
    }
}