@use '../base/variables' as v;
@use '../components/mixins' as m;

.cursos {
    padding-bottom: 5rem;
    border-bottom: 1px solid #aaa;
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 4rem;
        text-transform: capitalize;
    }
    
    &__grid {
        @include m.tablet {
            @include m.grid(3, 4rem);
        }
    }

}

.card {
    background-color: v.$blanco;
    margin-bottom: 2rem;
    @include m.tablet {
        margin-bottom: 0;
    }

    &__img {
        width: 100%;
    }

    &__info {
        padding: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include m.tablet {
            text-align: left;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0.5rem 0;
    }

    &__instructor {
        margin: 0 0 0.5rem;
    }

    &__calificacion {
        margin: 0 auto;

        @include m.tablet {
            margin-left: 0;
        }
    }

    &__btn {
        @include m.boton(v.$azul, v.$blanco, uppercase);
    }
}

.descuento {
    display: flex;
    margin: 1rem 0 0.5rem;
    @include m.tablet {
        justify-content: space-between;
        }

    &__p {
        font-size: 2.2rem;
        font-weight: 700;
        margin: 1rem 0;
        margin-left: auto;

        @include m.tablet {
            margin-left: 0;
        }
    }
    &__p--dashed {
        text-decoration: line-through;
        font-weight: 400;
        font-size: 1.8rem;
    }
}